body {
  padding-top: 0px;
  font-size: 14pt;
}
h2 {
  text-align: left;
}
table th, td {
  padding: 4px 17px 4px 0;
}
td {
  font-size: 10pt;
}
.starter-template {
  padding: 10px 15px;
  text-align: center;
}
.sub {
  text-align: left;
}

.error input, .error select {
    border: 2px red solid;
}

ul.errorlist
{
  list-style-type: none;
  padding-left: 2px;
}

ul.errorlist li
{
  color: red;
  font-size: larger;
}