{% extends "club/base.html" %}

{% block content %}

  <h3>Thanks</h3>
  <p>Your submission has been saved and you will be contacted at the details provided. Remember to send a check for $100, a non refundable application processing fee to our Treasurer:</p>
  <p class="sub">
    Richmond Pilots<br/>
    268 London Road</br>
    Staten Island<br/>
    NY 10306<br/>
  </p>
  <p>Feel free to contact the Chief Pilot with any questions regarding your application, (718) 987-5605 or <a href="mailto:chiefpilot@richmondpilots.org">chiefpilot@richmondpilots.org</a></p>
{% endblock content %}